name: MicroHs CI for containers

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-mhs-containers:
    runs-on: ubuntu-latest
    steps:
    - name: checkout containers repo
      uses: actions/checkout@v4
      with:
        path: cont
    - name: checkout mhs repo
      # workaround for `act`: https://github.com/nektos/act/issues/678#issuecomment-1693751996
      run: git clone https://github.com/augustss/MicroHs.git --branch stable-4 mhs
#      uses: actions/checkout@v4
#      with:
#        repository: augustss/MicroHs
#        ref: stable-4
#        path: mhs
    - name: make and install mhs
      run: |
        cd mhs
        make minstall
    - name: compile and install containers package
      run: |
      run: |
        PATH="$HOME/.mcabal/bin:$PATH"
        cd cont
        mcabal install
    - name: cleanup
      run: |
        rm -rf $HOME/.mcabal

